html {
    background-color: #C68484
}

.title h1 {
    color: #9B4444;
    font-family: "Ultra", serif;
    font-size: 50px;
}

.title p {
    color: #EEEEEE;
    font-family: "Ultra", serif;
    font-size: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-family: "Ultra", serif;
    color: #9B4444;
    font-size: 25px;
    text-align: center;
}
input[type="text"] {
    font-family: "Ultra", serif;
    border-radius: 20px;
    font-size: 25px;
    color: #2d5835;
    padding-left: 15px;
}

input[type="submit"] {
    font-family: "Ultra", serif;
    background-color: #A3C9AA;
    color: #37583d;
    border-radius: 20px;
    align-items: center;
    font-size: 25px;
    display: block;
    margin: 10px auto; 
}
  
.header {
    background-image: url('light_garland.png');
}

.nav a {
    display: block;
    margin-top: 20px; 
    color: #4f0b0b;
    text-decoration: none;
    font-size: 25px;
    font-family: "Ultra", serif;
    margin-top: 20px;
  }
  

.nav a:hover {
    color: #d3a620;
    text-decoration: underline;
}

.title {
    text-align: center;
}

.snoopy img {
    width: 325px;
    height: auto;
}

.snoopy {
    text-align: center; /* Centers the image horizontally */
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px 0;
    color: white;
    position: relative;
    bottom: 0;
}